@import 'media';

.details {
    position: relative;
    margin-bottom: 40px;

    @include swMin(Bsize) {
        margin-bottom: 56px;
    }

    @include swMin(Csize) {
        margin-bottom: 96px;
    }
}

.details_container {
    width: 100%;
    margin: 0 auto;
    
    @include swMin(Bsize) {
        width: 495px;
        margin-top: 104px;
    }

    @include swMin(Csize) {
        width: 928px;
        margin-top: 116px;
        display: flex;
    }

    @include swMin(Dsize) {
        width: 1003px;
        margin-top: 116px;
    }
}

.details_image {
    width: 288px;
    margin: auto;

    > img {
        width: 100%;
        max-width: 384px;
        border: solid 4px #011931;
        margin-bottom: 32px;
    }

    @include swMin(Bsize) {
        width: 336px;
    }
}

.details_text {
    width: 288px;
    margin: 0 auto;
    
    p {
        font: normal 18px/34px 'Muli', sans-serif;
        color: #011931;
    }

    a {
        font: bold 'Muli', sans-serif;
        color: #F15F2E;

        &:hover {
            color: #D84717;
        }
    }

    //create space between each p
    > * + * {
        margin-top: 15px;
    }

    @include swMin(Bsize) {
        width: 495px;
    }

    @include swMin(Csize) {
        margin-left: 32px;
        width: 528px;
    }

    @include swMin(Dsize) {
        width: 591px;
    }
}