@import 'media';

.details {
    position: relative;
    margin-bottom: 40px;

    @include swMin(Bsize) {
        margin-bottom: 56px;
    }

    @include swMin(Csize) {
        margin-bottom: 96px;
    }
}

.details_container {
    width: 100%;
    margin: 0 auto;
    
    @include swMin(Bsize) {
        width: 495px;
        margin-top: 104px;
    }

    @include swMin(Csize) {
        width: 928px;
        margin-top: 116px;
        display: flex;
    }

    @include swMin(Dsize) {
        width: 1003px;
        margin-top: 116px;
    }
}

.details_image {
    width: 288px;
    margin: auto;

    > img {
        width: 100%;
        max-width: 384px;
        border: solid 4px #011931;
        margin-bottom: 32px;
    }

    @include swMin(Bsize) {
        width: 336px;
    }
}

.details_text {
    width: 288px;
    margin: 0 auto;
    
    p {
        font: normal 18px/34px 'Muli', sans-serif;
        color: #011931;
    }

    a {
        font: bold 'Muli', sans-serif;
        color: #F15F2E;
        text-decoration: none;

        &:hover {
            color: #D84717;
        }
    }

    //create space between each p
    > * + * {
        margin-top: 15px;
    }

    @include swMin(Bsize) {
        width: 495px;
    }

    @include swMin(Csize) {
        margin-left: 32px;
        width: 528px;
    }

    @include swMin(Dsize) {
        width: 591px;
    }
}

.educators_container {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    width: 287px;
    height: 153px;
    border: solid 4px rgba(1, 25, 49, 0.1);

    @include swMin(Bsize) {
        margin-top: 58px;
        width: 495px;
        height: 102px;
    }

    @include swMin(Csize) {
        margin-top: 53px;
        width: 528px;
    }

    @include swMin(Dsize) {
        margin-top: 50px;
        width: 591px;
    }
}

.educators {
    margin-top: -12px;
    margin-left: 21px;
    width: 84px;
    font: normal 20px/25px 'Bangers', sans-serif;
    color: #011931;
    
    @include swMin(Csize) {
        margin-left: 25px;
    }
}

.educators_text {
    width: 246px;
    margin: 0 auto;
    padding-top: 12px; 

    > p {
        font: normal 14px/26px 'Muli', sans-serif;
        color: #373D40;
        letter-spacing: 1.86;
    }

    @include swMin(Bsize) {
        width: 454px;
        height: 52px;
    }

    @include swMin(Csize) {
        margin-left: 25px;
        width: 483px;
    }

    @include swMin(Dsize) {
        width: 542px;
    }
}