@import 'media';

.footer {
    background-color: #011931;
    padding-bottom: 88px;
}

.footer_container {
    width: 100%;
    max-width: 1280px;
    padding-top: 88px;
}

.footer_logo {
    margin-bottom: 48px;
    display: flex;
    justify-content: center;

    > img {
        width: 176px;
    }

    @include swMin(Csize) {
        width: 100%;
        justify-content: flex-start;
        margin-left: 32px;
        margin-bottom: 64px;
    }
}

.footer_area {
    width: 100%;
    font: normal 14px/22px 'Muli', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;

    @include swMin(Csize) {
        align-items: flex-end;
        text-align: left;
        flex-direction: row;
    }
}

.footer_area-left {
    order: 1;
    width: 280px;
    margin: 0 auto;

    @include swMin(Bsize) {
        width: 664px;
    }

    @include swMin(Csize) {
        order: 0;
        margin-left: 32px;
        width: 624px;
    }

    @include swMin(Dsize) {
        width: 790px;
    }
}

.footer_area-right {
    order: 0;
    color: #FFFFFF;
    line-height: 20px;
    margin-bottom: 24px;

    a {
        color: #FFFFFF;
        font-weight: bold;
        text-decoration: none;
    }

    @include swMin(Csize) {
        order: 1;
        text-align: right;
        margin-right: 32px;
        margin-bottom: 0;
    }
}

.footer_warning {
    color: #FFFFFF;
    margin-bottom: 24px;
}

.footer_legal {
    color: #FFFFFF;
}

.footer_terms {
    margin-top: 20px;
}

