@import 'media';

.header {
    background-color: #FF9C00;
    position: relative;
    overflow: hidden;
    padding-top: 47px;
    height: 737px;

    &:before, &:after {
        background: url("/images/halftone.svg") #FF9C00;
        content: '';
        background-size: 100% 100%; 
        background-repeat: no-repeat;
        position: absolute;
        z-index: 1;
    }
    
    &:before {
        top: 50%;
        left: 0;
        height: 750px;
        width: 750px;
        transform: translate(-50%, -50%);
    }

    &:after {
        top: 0;
        right: 0;
        height: 750px;
        width: 750px;
        transform: translate(25%, -50%);
    }

    @include swMin(Csize) {
        height: 577px;
    }
}

.header_container {
    max-width: 288px;
    margin: auto auto;
    position: relative;
    z-index: 2;

    @include swMin(Bsize) {
        max-width: 720px;
    }

    @include swMin(Csize) {
        max-width: 1024px;
    }

    @include swMin(Dsize) {
        max-width: 1280px;
    }

    &:after {
        clear: both;
        content: "";
        display:block;
    }
}

.header_logo {
    display: flex;
    justify-content: center;

    img {
        max-width: 120px;

        @include swMin(Bsize) {
            max-width: 190px;
        }
        @include swMin(Csize) {
            max-width: 210px;
        }
    }
}

.header_text {
    margin: 48px auto;
    text-align: left;

    @include swMin(Bsize) {
        width: 496px;
        margin-top: 60px;
    }

    @include swMin(Csize) {
        width: 769px;
        margin-top: 61px;
    }

    @include swMin(Dsize) {
        width: 801px;
        margin-top: 61px;
    }

    h1 {
        font-family: 'Bangers', cursive;
        color: #011931;
		font-weight: 400;
		font-size: 30px;
		line-height: 40px;
        letter-spacing: 0.52px;
        
        @include swMin(Bsize) {
            font-size: 45px;
            line-height: 57px;
            letter-spacing: 0.79px;
        }
    }
}