@import 'media';

.magazine {
    margin-top: -300px;
    position: relative;
    z-index: 4;

    @include swMin(Bsize) {
        margin-top: -80px;
    }

    @include swMin(Csize) {
        margin-top: -81px;
    }

    @include swMin(Dsize) {
        margin-top: -67px;
    }
}

.magazine_container {
    max-width: 288px;
    margin: 0 auto;
    
    @include swMin(Bsize) {
        max-width: 672px;
        display: flex;
    }

    @include swMin(Csize) {
        max-width: 928px;
    }

    @include swMin(Dsize) {
        max-width: 950px;
    }

    > article {

        @media(max-width: 719px) {
            max-width: 320px;
            margin: 0 auto 40px;
        }

        @include swMin(Bsize) {
            margin-right: 32px; 

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.magazine_note {
    font: 400 25px/30px 'Bangers', cursive;
    letter-spacing: 0.83px;
    color: #011931;
    position: absolute;
    bottom: calc(100% + 10px);
    left: 47%;
    padding-right: 52px;
    z-index: 5;

    &:after {
        background: url("/images/arrow.svg") no-repeat;
        content:'';
        width: 21px;
        height: 35px;
        position: absolute;
        transform: rotate(90deg);
        right: 10px;
    }

    @media(max-width: 719px) {
        display: none;
    }

    @include swMin(Csize) {
        transform-origin: left bottom;
        transform: translate(-120%, 1420%) rotate(270deg);
        
    }
}

.magazine_display {
    position: relative;
    > {
        img {
            border: 4px solid #011931;
            margin-bottom: 16px;
            width: 100%;
            height: auto;
        }

        button {
            font: bold 14px/26px 'Muli', sans-serif;
            letter-spacing: 0.78px;
            text-transform: uppercase;
            color: #FFFFFF;
            background: #F15F2E;
            overflow: visible;
            border: none;
            outline: none;
            cursor: pointer;    
            border-radius: 27px;
            height: 52px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            > img {
                display: none;
            }

            @include swMin(Csize) {
                font-size: 14px;
                line-height: 26px;
                margin: 0 16px;
                width: 240px;

                > img {
                    display: initial;
                    margin-right: 7px;
                }
            }
        }
    }   
}

.magazine_download {
    font: bold 14px/26px 'Muli', sans-serif;
    display: block;
    margin-top: 16px;
    text-align: center;
    letter-spacing: 0.78px;
    text-transform: uppercase;
    color: #011931;
}