@import 'header' , 'magazine' , 'bodyDetails' , 'footer';

@import url("https://fonts.googleapis.com/css?family=Bangers&display=swap");
@import url('https://fonts.googleapis.com/css?family=Muli:400,700&display=swap');
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
	display: block;
}
*[hidden] {
	display: none;
}


#page {
    display:flex;
    min-height: 100vh;
    flex-direction: column;
    
    header {
        flex: 0 0 auto;
    }

    main {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }

    footer {
        flex: 0 0 auto;
    }
}


body {
    font: normal 18px/34px 'Muli', sans-serif;
    min-height: 100vh;
    scroll-behavior: smooth;
    color: #011931;
    line-height: 1;
  
    &.noscroll {
      overflow: hidden;
      height: 100vh;
      width: 100vw;
    }
}

//magazine -> magazine_container -> magazine_list
.magazine {
    margin: -270px 16px 40px;
    position: relative;
    z-index: 5;

    @include swMin(Bsize) {
        margin: -80px 32px 104px;
    }

    @include swMin(Csize) {
        margin: -48px 32px 112px;
    }

    @include swMin(Dsize) {
        margin: -64px 32px 120px;
    }

    &_container {
        max-width: 530;
        margin: 0 auto;

        &.after {
            clear:both;
            content:'';
            display:block;
        }
        
        @include swMin(Bsize) {
            max-width: 672px;
        }

        @include swMin(Csize) {
            max-width: 928px;
        }

        @include swMin(Dsize) {
            max-width: 1216px;
        }
    }

    &_list {
        width: calc(100% - 32px);
        float: left;
        margin-left: 16px;
        position: relative;

        @include swMin(Bsize) {
            width: calc(100% - 64px);
            margin-left: 32px;
            display: flex;
        }

        @include swMin(Csize) {
            width: calc(100% - 64px);
            margin-left: 32px;
            display: flex;
        }

        @include swMin(Dsize) {
            width: calc(75% -56px);
            margin-left: 32px;
            display: flex;
        }

        > article {
            @media(max-width: 719px) {
                max-width: 320px;
                margin: 0 auto 40px;
                
                &:last-child {
                    margin-bottom: 0;
                }
            }

            @include swMin(Bsize) {
                margin-right: 32px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}



