@import url("https://fonts.googleapis.com/css?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli:400,700&display=swap");
.header {
  background-color: #FF9C00;
  position: relative;
  overflow: hidden;
  padding: 48px 16px 270px; }
  .header:before, .header:after {
    background: url("/images/halftone.svg") #FF9C00;
    content: '';
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1; }
  .header:before {
    top: 50%;
    left: 0;
    height: 750px;
    width: 750px;
    transform: translate(-50%, -50%); }
  .header:after {
    top: 0;
    right: 0;
    height: 750px;
    width: 750px;
    transform: translate(25%, -50%); }
  @media (min-width: 720px) {
    .header {
      padding: 48px 32px 80px; } }
  @media (min-width: 1024px) {
    .header {
      padding: 48px 32px 64px; } }

.header_container {
  max-width: 530px;
  margin: 0 auto;
  position: relative;
  z-index: 2; }
  @media (min-width: 720px) {
    .header_container {
      max-width: 672px; } }
  @media (min-width: 1024px) {
    .header_container {
      max-width: 928px; } }
  @media (min-width: 1280px) {
    .header_container {
      max-width: 1216px; } }
  .header_container:after {
    clear: both;
    content: "";
    display: block; }

.header_container-inner {
  margin-left: -16px;
  margin-right: -16px;
  width: calc(100% + 32px); }
  .header_container-inner::after {
    clear: both;
    content: "";
    display: block; }
  @media (min-width: 720px) {
    .header_container-inner {
      margin-left: -32px;
      margin-right: -32px;
      width: calc(100% + 64px); } }
  @media (min-width: 1024px) {
    .header_container-inner {
      margin-left: -32px;
      margin-right: -32px;
      width: calc(100% + 64px); } }

.header_content {
  width: calc(100% - 32px);
  margin-left: 16px;
  float: left; }
  .header_content > * + * {
    margin-top: 40px; }
  @media (min-width: 720px) {
    .header_content {
      width: calc(75% - 56px);
      margin-left: 95px; }
      .header_content > * + * {
        margin-top: 48px; } }
  @media (min-width: 1024px) {
    .header_content {
      width: calc(84% - 58px);
      margin-left: 105px; } }
  @media (min-width: 1280px) {
    .header_content {
      width: calc(67% - 53px);
      margin-left: 230px; } }

.header_logo {
  display: flex;
  justify-content: center; }
  .header_logo img {
    max-width: 120px; }
    @media (min-width: 720px) {
      .header_logo img {
        max-width: 180px; } }
    @media (min-width: 1024px) {
      .header_logo img {
        max-width: 208px; } }

.header_text {
  margin-bottom: 24px;
  text-align: center; }
  @media (min-width: 720px) {
    .header_text {
      margin-bottom: 104px;
      text-align: left; } }
  @media (min-width: 1024px) {
    .header_text {
      margin-bottom: 48px; } }
  @media (min-width: 1280px) {
    .header_text {
      margin-bottom: 64px; } }
  .header_text h1 {
    font-family: 'Bangers', cursive;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.53px; }
    @media (min-width: 720px) {
      .header_text h1 {
        font-size: 45px;
        line-height: 57px;
        letter-spacing: 0.79px; } }

.magazine_note {
  font: 400 25px/30px 'Bangers', cursive;
  letter-spacing: 0.83px;
  color: #011931;
  position: absolute;
  bottom: calc(100% + 10px);
  right: 0;
  padding-right: 52px; }
  .magazine_note:after {
    background: url("/images/arrow.svg") no-repeat;
    content: '';
    width: 21px;
    height: 35px;
    position: absolute;
    transform: rotate(90deg);
    top: -1px;
    right: 10px;
    z-index: 1; }
  @media (max-width: 719px) {
    .magazine_note {
      display: none; } }
  @media (min-width: 1024px) {
    .magazine_note {
      bottom: 115px;
      left: 0px;
      padding-bottom: 7px;
      transform: rotate(270deg);
      transform-origin: left bottom 0; }
      .magazine_note:after {
        left: 335px; } }

.magazine_display {
  position: relative; }
  .magazine_display > img {
    border: 4px solid #011931;
    margin-bottom: 16px;
    width: 100%;
    height: auto; }
  .magazine_display > button {
    font: bold 14px/26px 'Muli', sans-serif;
    letter-spacing: 0.78px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #F15F2E;
    overflow: visible;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    position: static;
    border-radius: 32px;
    height: 52px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .magazine_display > button.hover {
      background: #D84717; }
    .magazine_display > button > img {
      display: none; }
    @media (min-width: 1024px) {
      .magazine_display > button {
        font-size: 14px;
        line-height: 26px;
        margin: 0 16px;
        width: calc(100% - 32px); }
        .magazine_display > button > img {
          display: initial;
          margin-right: 7px; } }

.magazine_download {
  font: bold 14px/26px 'Muli', sans-serif;
  display: block;
  margin-top: 16px;
  text-align: center;
  letter-spacing: 0.78px;
  text-transform: uppercase;
  color: #011931; }

.details {
  margin-bottom: 40px; }
  @media (min-width: 720px) {
    .details {
      margin-bottom: 56px; } }
  @media (min-width: 1024px) {
    .details {
      margin-bottom: 96px; } }

.details_container {
  width: 100%;
  max-width: 1216px;
  margin: 0 auto; }
  .details_container:after {
    clear: both;
    content: '';
    display: block; }

.details_image {
  width: calc(100% - 32px);
  float: left;
  margin-left: 16px; }
  .details_image > img {
    width: 100%;
    max-width: 384px;
    margin: 0 auto 32px;
    border: solid 4px #011931;
    display: block; }
  @media (min-width: 720px) {
    .details_image {
      width: calc(75% - 56px);
      margin-left: 32px; } }
  @media (min-width: 1024px) {
    .details_image {
      width: calc(40% - 45px);
      margin-left: 32px; } }
  @media (min-width: 1280px) {
    .details_image {
      width: calc(33% - 42px);
      margin-left: 32px; } }

.details_text {
  width: calc(100% - 32px);
  margin-left: 16px;
  float: left; }
  .details_text p {
    font: normal 18px/34px 'Muli', sans-serif; }
  .details_text a {
    font: bold 'Muli', sans-serif;
    color: #F15F2E; }
    .details_text a:hover {
      color: #D84717; }
  .details_text > * + * {
    margin-top: 15px; }
  @media (min-width: 720px) {
    .details_text {
      width: calc(75% - 56px);
      margin-left: 32px; } }
  @media (min-width: 1024px) {
    .details_text {
      width: calc(58% - 50px);
      margin-left: 32px; } }
  @media (min-width: 1280px) {
    .details_text {
      width: calc(50% - 48px);
      margin-left: 32px; } }

.footer {
  background-color: #011931;
  padding: 88px 0; }

.footer_container {
  width: 100%;
  max-width: 1216px;
  margin: 0 auto; }
  .footer_container:after {
    clear: both;
    content: '';
    display: block; }
  .footer_container:after {
    clear: both;
    content: "";
    display: block; }

.footer_logo {
  width: calc(100% - 32px);
  margin-left: 32px;
  float: left;
  display: flex;
  justify-content: center;
  margin-bottom: 48px; }
  @media (min-width: 720px) {
    .footer_logo {
      width: calc(100% - 64px);
      margin-left: 32px; } }
  @media (min-width: 1024px) {
    .footer_logo {
      justify-content: flex-start;
      margin-bottom: 64px; } }

.footer_area {
  width: calc(100% - 32px);
  float: left;
  margin-left: 16px;
  font: normal 14px/26px 'Muli', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column; }
  @media (min-width: 720px) {
    .footer_area {
      width: calc(100% - 64px);
      float: left;
      margin-left: 32px; } }
  @media (min-width: 1024px) {
    .footer_area {
      align-items: flex-end;
      text-align: left;
      flex-direction: row; } }

.footer_area-left {
  margin-right: 100px; }

.footer_area-right {
  color: #FFFFFF;
  margin-bottom: 24px; }
  .footer_area-right a {
    color: #FFFFFF;
    font-weight: bold; }
  @media (min-width: 1024px) {
    .footer_area-right {
      text-align: right;
      margin-left: 16px;
      margin-bottom: 0; } }

.footer_warning {
  color: #FFFFFF;
  margin-bottom: 24px; }

.footer_legal {
  color: #FFFFFF; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  display: block; }

*[hidden] {
  display: none; }

#page {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }
  #page header {
    flex: 0 0 auto; }
  #page main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column; }
  #page footer {
    flex: 0 0 auto; }

body {
  font: normal 18px/34px 'Muli', sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
  color: #011931;
  line-height: 1; }
  body.noscroll {
    overflow: hidden;
    height: 100vh;
    width: 100vw; }

.magazine {
  margin: -270px 16px 40px;
  position: relative;
  z-index: 5; }
  @media (min-width: 720px) {
    .magazine {
      margin: -80px 32px 104px; } }
  @media (min-width: 1024px) {
    .magazine {
      margin: -48px 32px 112px; } }
  @media (min-width: 1280px) {
    .magazine {
      margin: -64px 32px 120px; } }
  .magazine_container {
    max-width: 530;
    margin: 0 auto; }
    .magazine_container.after {
      clear: both;
      content: '';
      display: block; }
    @media (min-width: 720px) {
      .magazine_container {
        max-width: 672px; } }
    @media (min-width: 1024px) {
      .magazine_container {
        max-width: 928px; } }
    @media (min-width: 1280px) {
      .magazine_container {
        max-width: 1216px; } }
  .magazine_list {
    width: calc(100% - 32px);
    float: left;
    margin-left: 16px;
    position: relative; }
    @media (min-width: 720px) {
      .magazine_list {
        width: calc(100% - 64px);
        margin-left: 32px;
        display: flex; } }
    @media (min-width: 1024px) {
      .magazine_list {
        width: calc(100% - 64px);
        margin-left: 32px;
        display: flex; } }
    @media (min-width: 1280px) {
      .magazine_list {
        width: calc(75% -56px);
        margin-left: 32px;
        display: flex; } }
    @media (max-width: 719px) {
      .magazine_list > article {
        max-width: 320px;
        margin: 0 auto 40px; }
        .magazine_list > article:last-child {
          margin-bottom: 0; } }
    @media (min-width: 720px) {
      .magazine_list > article {
        margin-right: 32px; }
        .magazine_list > article:last-child {
          margin-right: 0; } }
