  .auto-grid {
    --auto-grid-min-size: 20rem;

    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
  }

  .wrapper {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
  }

  .Mask {
    width: 1280px;
    height: 624px;
    background-color: var(--tangerine);
  }

  .Rectangle {
    width: 278px;
    height: 398px;
    border: solid 4px var(--navy);
  }

  .Rectangle-Copy {
    width: 278px;
    height: 398px;
    border: solid 4px var(--navy);
  }

  .Rectangle-Copy-2 {
    width: 278px;
    height: 398px;
    border: solid 4px var(--navy);
  }

  .logo_noshadow {
    width: 210px;
    height: 213px;
    object-fit: contain;
    transform: rotate(-6deg);
    box-shadow: 0 0 10px 0 rgba(1, 25, 49, 0.3);
  }

  .Leia-a-revista-digit {
    width: 801px;
    height: 171px;
    font-family: Bangers;
    font-size: 45px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: 0.79px;
    color: var(--navy);
  }

  .Sarepta_Logo_Horizontal_KO {
    width: 176px;
    height: 67px;
    object-fit: contain;
  }